.login-wrapper{
	padding: 20px;
}
.login-input-item{
	position: relative;
	height: 30px;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px;
}
.login-input-lable{
	width: 88px;
	padding-left: 26px;
	background-position: left center;
	background-size: 16px;
	background-repeat: no-repeat;
	height: 100%;
	line-height: 29px;
	font-size: 14px;
	&.username-icon{
		background-image: url(../images/login-user-icon.png);
	}
	&.password-icon{
		background-image: url(../images/login-password-icon.png);
	}
	&.email-icon{
		background-image: url(../images/email-icon.png);
	}
	&.borthdate-icon{
		background-image: url(../images/borthdate-icon@2x.png);
	}
	&.sex-icon{
		background-image: url(../images/sex-icon@2x.png);
	}
	&.phone-icon{
		background-image: url(../images/phone-icon@2x.png);
	}
	&.wx-icon{
		background-image: url(../images/wx-icon@2x.png);
	}
	&.addr-icon{
		background-image: url(../images/addr@2x.png);
	}
	&.catvId-icon{
		background-image: url(../images/catvId@2x.png);
	}
	&.keyNo-icon{
		background-image: url(../images/keyNo@2x.png);
	}

}
.login-input-wrapper{
	position: 100%;
	height: 100%;
	padding-left: 88px;
	position: absolute;
	left: 0;
	top: 0;
	input{
		display: block;
		height: 100%;
		line-height: 29px;
		font-size: 14px;
		border: 0;
	}
}

.forgetPassword{
	text-align: right;
	a{
		font-size: 12px;
		color: #222;
	}
	margin-bottom: 30px;
}
.xieyi-wrapper{
	margin-bottom: 30px;
	font-size: 12px;
	color: #aaa;
	span{
		padding-left: 26px;
		background-position: left center;
		background-size: 16px;
		background-repeat: no-repeat;
		background-image: url(../images/noSelect-icon.png);
		&.on{
			background-image: url(../images/selected-icon.png);
		}
	}
	a{
		color: #EB6100;
		font-size: 12px;
	}
}
.login-submit{
	width: 90%;
	height: 40px;
	border: 1px #F17D03 solid;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	background: none;
	color: #EB6100;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}
.goRegBt-wrapper{
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-size: 16px;
	line-height: 60px;
	left: 0;
	text-align: center;
	a{
		color: #EB6100;
	}
}